USE [messager_db]
GO
/****** Object:  StoredProcedure [dbo].[GetAttachments]    Script Date: 17.10.2017 14:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAttachments]
	@MessageId bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Id,'File' FROM Files JOIN Attachments ON Files.Id = Attachments.FileId 
	WHERE Attachments.MessageId = @MessageId 
END

GO
