<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Messager.DataLayer.Sql.Tests.Properties.Settings.ConnectionString"
            connectionString="Data Source=POTM-PC\SQLEXPRESS;Initial Catalog=messager_db;User ID=potm2;Password=12312322;Connect Timeout=30;" />
    </connectionStrings>
</configuration>